/*change cursor symbol to pointer*/
#clickableAwesomeFont {
     cursor: pointer;
     
}

/*style for header left corner element*/
.ui-toolbar-group-left{
	padding: 12px;
     padding-left: 20px;
     color: white;
}

/*style for header right corner element*/
.ui-toolbar-group-right {
	color: white;
	padding: 15px;
	cursor: pointer;
	
	}

.headerCont{
	height: 60px;
	background:rgba(38, 58, 68, 0.8);
}